<div class="sysheader ng-scope">
    <span>Ralph Ditchie</span>
    Weekly Schedule :: 5/11/2015 - 5/15/2015
</div>

<div class="table ng-scope">

    <div class="row header green">
        <div class="cell ">
            <center>Monday</center>
        </div>
        <div class="cell ">
            <center>Tuesday</center>
        </div>
        <div class="cell ">
            <center>Wednesday</center>
        </div>
        <div class="cell ">
            <center>Thursday</center>
        </div>
        <div class="cell ">
            <center>Friday</center>
        </div>
    </div>
    <div class="row">
        <div class="cell ">
            <center><strong>11:00AM</strong> - John Doe</center>
        </div>
        <div class="cell ">
            <center><strong>11:00AM</strong> - John Doe</center>
        </div>
        <div class="cell ">
            <center><strong>11:00AM</strong> - John Doe</center>
        </div>
        <div class="cell ">
            <center><strong>11:00AM</strong> - John Doe</center>
        </div>
        <div class="cell ">
            <center><strong>11:00AM</strong> - John Doe</center>
        </div>
    </div>
    <div class="row">
        <div class="cell ">
            <center><strong>1:30PM</strong> - Henry Eighth</center>
        </div>
        <div class="cell ">
            <center><strong>1:30PM</strong> - Henry Eighth</center>
        </div>
        <div class="cell ">
            <center><strong>1:30PM</strong> - Henry Eighth</center>
        </div>
        <div class="cell ">
            <center><strong>1:30PM</strong> - Henry Eighth</center>
        </div>
        <div class="cell ">
            <center><strong>1:30PM</strong> - Henry Eighth</center>
        </div>
    </div>
    <div class="row">
        <div class="cell ">
            <center><strong>3:00PM</strong> - Richard Castle</center>
        </div>
        <div class="cell ">
            <center><strong>3:00PM</strong> - Richard Castle</center>
        </div>
        <div class="cell ">
            <center><strong>3:00PM</strong> - Richard Castle</center>
        </div>
        <div class="cell ">
            <center><strong>3:00PM</strong> - Richard Castle</center>
        </div>
        <div class="cell ">
            <center><strong>3:00PM</strong> - Richard Castle</center>
        </div>
    </div>
    <div class="row">
        <div class="cell ">
            <center><strong>5:30PM</strong> - Louis Armstrong</center>
        </div>
        <div class="cell ">
            <center><strong>5:30PM</strong> - Louis Armstrong</center>
        </div>
        <div class="cell ">
            <center><strong>5:30PM</strong> - Louis Armstrong</center>
        </div>
        <div class="cell ">
            <center><strong>5:30PM</strong> - Louis Armstrong</center>
        </div>
        <div class="cell ">
            <center><strong>5:30PM</strong> - Louis Armstrong</center>
        </div>
    </div>

    <div class="row">
        <div class="cell ">
            <center><strong>7:30PM</strong> - Franklin Valli</center>
        </div>
        <div class="cell ">
            <center> &nbsp; </center>
        </div>
        <div class="cell ">
            <center> &nbsp; </center>
        </div>
        <div class="cell ">
            <center><strong>6:30PM</strong> - Dean Martin</center>
        </div>
        <div class="cell ">
            <center><strong>8:00PM</strong> - Franklin Valli</center>
        </div>
    </div>

    <div class="row">
        <div class="cell ">
            <button style="width: 100%;">Edit</button>
        </div>
        <div class="cell ">
            <button style="width: 100%;">Edit</button>
        </div>
        <div class="cell ">
            <button style="width: 100%;">Edit</button>
        </div>
        <div class="cell ">
            <button style="width: 100%;">Edit</button>
        </div>
        <div class="cell ">
            <button style="width: 100%;">Edit</button>
        </div>
    </div>


</div>





