<div class="sysheader ng-scope">
    <span>Daily Schedule</span>
    5/15/2015 :: By Caretaker
</div>

<div class="table ng-scope">

    <div class="row header green">
        <div class="cell ">
            <center>Caregiver</center>
        </div>
        <div class="cell ">
            <center>No. Clients</center>
        </div>
        <div class="cell ">
            <center>View</center>
        </div>
    </div>

    <div class="row">
        <div class="cell">
           Ralph Ditchie
        </div>
        <div class="cell">
            <center>7</center>
        </div>
        <div class="cell label">
            <a href="#/schedule_router_daily">
                <button style="width: 100%">
                    View Schedule
                </button>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="cell">
           Kevin Ryan
        </div>
        <div class="cell">
            <center>5</center>
        </div>
        <div class="cell label">
            <button style="width: 100%">
                View Schedule
            </button>
        </div>
    </div>

    <div class="row">
        <div class="cell">
           Kate Beckett
        </div>
        <div class="cell">
            <center>3</center>
        </div>
        <div class="cell label">
            <button style="width: 100%">
                View Schedule
            </button>
        </div>
    </div>

    <div class="row">
        <div class="cell">
           Richard Rodgers
        </div>
        <div class="cell">
            <center>6</center>
        </div>
        <div class="cell label">
            <button style="width: 100%">
                View Schedule
            </button>
        </div>
    </div>

</div>





