<div class="sysheader ng-scope">
    Schedule :: Weekly Scedule
</div>

<div class="table ng-scope">

    <div class="row header green">
        <div class="cell ">
            <center>Caregiver</center>
        </div>
        <div class="cell ">
            <center>No. Clients</center>
        </div>
        <div class="cell ">
            <center>View</center>
        </div>
    </div>

    <div class="row">
        <div class="cell">
           John Smith
        </div>
        <div class="cell">
            <center>10</center>
        </div>
        <div class="cell label">
            <button style="width: 100%">
                View Schedule
            </button>
        </div>
    </div>

    <div class="row">
        <div class="cell">
           Derrick Storm
        </div>
        <div class="cell">
            <center>12</center>
        </div>
        <div class="cell label">
            <button style="width: 100%">
                View Schedule
            </button>
        </div>
    </div>

    <div class="row">
        <div class="cell">
           Nikki Heat
        </div>
        <div class="cell">
            <center>5</center>
        </div>
        <div class="cell label">
            <button style="width: 100%">
                View Schedule
            </button>
        </div>
    </div>

    <div class="row">
        <div class="cell">
           Joe Shchmoe
        </div>
        <div class="cell">
            <center>8</center>
        </div>
        <div class="cell label">
            <button style="width: 100%">
                View Schedule
            </button>
        </div>
    </div>

</div>





