<div class="sysheader ng-scope">
    <span>Ralph Ditchie</span>
    Daily Schedule :: 5/15/2015
</div>

<div class="table ng-scope">

    <div class="row header green">
        <div class="cell ">
            <center>Time</center>
        </div>
        <div class="cell ">
            <center>Name</center>
        </div>
        <div class="cell ">
            <center>Address</center>
        </div>
    </div>
    <div class="row">
        <div class="cell ">
            <center>11:00AM</center>
        </div>
        <div class="cell ">
            <center>John Doe</center>
        </div>
        <div class="cell ">
            <center>123 First St., Midlothian, IL</center>
        </div>
    </div>
    <div class="row">
        <div class="cell ">
            <center>1:30PM</center>
        </div>
        <div class="cell ">
            <center>Henry Eighth</center>
        </div>
        <div class="cell ">
            <center>456 Second St., Midlothian, IL</center>
        </div>
    </div>
    <div class="row">
        <div class="cell ">
            <center>3:00PM</center>
        </div>
        <div class="cell ">
            <center>Richard Castle</center>
        </div>
        <div class="cell ">
            <center>789 Third St., Midlothian, IL</center>
        </div>
    </div>
    <div class="row">
        <div class="cell ">
            <center>5:30PM</center>
        </div>
        <div class="cell ">
            <center>Louis Armstrong</center>
        </div>
        <div class="cell ">
            <center>1011 Fourth St., Midlothian, IL</center>
        </div>
    </div>

    <div class="row">
        <div class="cell ">
            <center>7:30PM</center>
        </div>
        <div class="cell ">
            <center>Franklin Valli</center>
        </div>
        <div class="cell ">
            <center>1213 Fifth St., Midlothian, IL</center>
        </div>
    </div>

</div>
