<div class="sysheader ng-scope">
            <span>Susan Brown</span>
            Client Information Dashboard :: All Categories
        </div>

        <div class="table ng-scope">

            <div class="row header">
                <div class="cell solid">
                    Personal Info
                </div>
                <div class="cell solid">

                </div>
                <div class="cell solid">

                </div>
                <div class="cell solid right">
                    Susan Brown
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    Name
                </div>
                <div class="cell">
                    Susan Brown
                </div>
                <div class="cell">
                    Date Of Birth
                </div>
                <div class="cell">
                    09 / 17 / 1935
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    Name
                </div>
                <div class="cell">
                    Susan Brown
                </div>
                <div class="cell">
                    Date Of Birth
                </div>
                <div class="cell">
                    09 / 17 / 1935
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Name
                </div>
                <div class="cell">
                    Susan Brown
                </div>
                <div class="cell">
                    Date Of Birth
                </div>
                <div class="cell">
                    09 / 17 / 1935
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Name
                </div>
                <div class="cell">
                    Susan Brown
                </div>
                <div class="cell">
                    Date Of Birth
                </div>
                <div class="cell">
                    09 / 17 / 1935
                </div>
            </div>


        </div>

        <div class="table ng-scope">

            <div class="row header green">
                <div class="cell">
                    Product
                </div>
                <div class="cell">
                    Unit Price
                </div>
                <div class="cell">
                    Quantity
                </div>
                <div class="cell">
                    Date Sold
                </div>
                <div class="cell">
                    Status
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    Solid oak work table
                </div>
                <div class="cell">
                    $800
                </div>
                <div class="cell">
                    10
                </div>
                <div class="cell">
                    03/15/2014
                </div>
                <div class="cell">
                    Waiting for Pickup
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    Leather iPhone wallet
                </div>
                <div class="cell">
                    $45
                </div>
                <div class="cell">
                    120
                </div>
                <div class="cell">
                    02/28/2014
                </div>
                <div class="cell">
                    In Transit
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    27" Apple Thunderbolt displays
                </div>
                <div class="cell">
                    $1000
                </div>
                <div class="cell">
                    25
                </div>
                <div class="cell">
                    02/10/2014
                </div>
                <div class="cell">
                    Delivered
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    Bose studio headphones
                </div>
                <div class="cell">
                    $60
                </div>
                <div class="cell">
                    90
                </div>
                <div class="cell">
                    01/14/2014
                </div>
                <div class="cell">
                    Delivered
                </div>
            </div>

        </div>

        <div class="table ng-scope">

            <div class="row header red">
                <div class="cell">
                    Username
                </div>
                <div class="cell">
                    Email
                </div>
                <div class="cell">
                    Password
                </div>
                <div class="cell">
                    Active
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    ninjalug
                </div>
                <div class="cell">
                    misterninja@hotmail.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    Yes
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    jsmith41
                </div>
                <div class="cell">
                    joseph.smith@gmail.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    No
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    1337hax0r15
                </div>
                <div class="cell">
                    hackerdude1000@aol.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    Yes
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    hairyharry19
                </div>
                <div class="cell">
                    harryharry@gmail.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    Yes
                </div>
            </div>

        </div>


        <div class="table ng-scope">

            <div class="row header teal">
                <div class="cell">
                    Username
                </div>
                <div class="cell">
                    Email
                </div>
                <div class="cell">
                    Password
                </div>
                <div class="cell">
                    Active
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    ninjalug
                </div>
                <div class="cell">
                    misterninja@hotmail.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    Yes
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    jsmith41
                </div>
                <div class="cell">
                    joseph.smith@gmail.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    No
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    1337hax0r15
                </div>
                <div class="cell">
                    hackerdude1000@aol.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    Yes
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    hairyharry19
                </div>
                <div class="cell">
                    harryharry@gmail.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    Yes
                </div>
            </div>

        </div>


        <div class="table ng-scope">

            <div class="row header orange">
                <div class="cell">
                    Username
                </div>
                <div class="cell">
                    Email
                </div>
                <div class="cell">
                    Password
                </div>
                <div class="cell">
                    Active
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    ninjalug
                </div>
                <div class="cell">
                    misterninja@hotmail.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    Yes
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    jsmith41
                </div>
                <div class="cell">
                    joseph.smith@gmail.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    No
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    1337hax0r15
                </div>
                <div class="cell">
                    hackerdude1000@aol.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    Yes
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    hairyharry19
                </div>
                <div class="cell">
                    harryharry@gmail.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    Yes
                </div>
            </div>

        </div>


        <div class="table ng-scope">

            <div class="row header pink">
                <div class="cell">
                    Username
                </div>
                <div class="cell">
                    Email
                </div>
                <div class="cell">
                    Password
                </div>
                <div class="cell">
                    Active
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    ninjalug
                </div>
                <div class="cell">
                    misterninja@hotmail.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    Yes
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    jsmith41
                </div>
                <div class="cell">
                    joseph.smith@gmail.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    No
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    1337hax0r15
                </div>
                <div class="cell">
                    hackerdude1000@aol.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    Yes
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    hairyharry19
                </div>
                <div class="cell">
                    harryharry@gmail.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    Yes
                </div>
            </div>

        </div>


        <div class="table ng-scope">

            <div class="row header gray">
                <div class="cell">
                    Username
                </div>
                <div class="cell">
                    Email
                </div>
                <div class="cell">
                    Password
                </div>
                <div class="cell">
                    Active
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    ninjalug
                </div>
                <div class="cell">
                    misterninja@hotmail.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    Yes
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    jsmith41
                </div>
                <div class="cell">
                    joseph.smith@gmail.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    No
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    1337hax0r15
                </div>
                <div class="cell">
                    hackerdude1000@aol.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    Yes
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    hairyharry19
                </div>
                <div class="cell">
                    harryharry@gmail.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    Yes
                </div>
            </div>

        </div>


        <div class="table ng-scope">

            <div class="row header purple">
                <div class="cell">
                    Username
                </div>
                <div class="cell">
                    Email
                </div>
                <div class="cell">
                    Password
                </div>
                <div class="cell">
                    Active
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    ninjalug
                </div>
                <div class="cell">
                    misterninja@hotmail.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    Yes
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    jsmith41
                </div>
                <div class="cell">
                    joseph.smith@gmail.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    No
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    1337hax0r15
                </div>
                <div class="cell">
                    hackerdude1000@aol.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    Yes
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    hairyharry19
                </div>
                <div class="cell">
                    harryharry@gmail.com
                </div>
                <div class="cell">
                    ************
                </div>
                <div class="cell">
                    Yes
                </div>
            </div>

        </div>










