<form class="login" name="loginForm" ng-submit="signUp()" novalidate>
    <label for="email">Email:</label>
    <input id="email" type="text" ng-model="registration.email">
    <label for="email">First Name :</label>
    <input id="f_name" type="text" ng-model="registration.f_name">
    <label for="f_name">Last Name :</label>
    <input id="l_name" type="text" ng-model="registration.l_name">
    <label for="l_name">Address 1 :</label>
    <input id="address_1" type="text" ng-model="registration.address_1">
    <label for="address_1">Address 2 :</label>
    <input id="address_2" type="text" ng-model="registration.address_2">
    <label for="address_2">City :</label>
    <input id="city" type="text" ng-model="registration.city">
    <label for="city">State :</label>
    <input id="state" type="text" ng-model="registration.state">
    <label for="state">Password:</label>
    <input type="password" id="password" ng-model="registration.password">
    <button type="submit">Sign Up</button>
    <a ng-href="#/login" >Login</a>
</form>
