

<div class="sysheader ng-scope">
    <span>New Client</span>
    Client Information :: Add New Client
</div>
<!-- ===== Personal Data ===== -->
<div class="table ng-scope">

    <div class="row header grey">
        <div class="cell solid">
            Personal Info
        </div>
        <div class="cell solid">

        </div>
        <div class="cell solid">

        </div>
        <div class="cell solid right">
            <button class="btngreen">
                Save
            </button>
            <button class="btnred">
                Discard
            </button>
        </div>
    </div>
    <div class="row">
        <div class="cell label">
            First Name
        </div>
        <div class="cell">
            <input type="text" name="" id="">
        </div>
        <div class="cell label">
            Date Of Birth
        </div>
        <div class="cell">
            <input type="text" id="DOB" name="ssn" placeholder="MM/DD/YYYY" maxlength=10>
            <script type="text/javascript">
                $('#DOB').keyup(function() {
                    var val = this.value.replace(/\D/g, '');
                    var newVal = '';
                    if(val.length > 4) {
                        this.value = val;
                    }
                    if((val.length > 2) && (val.length < 6)) {
                        newVal += val.substr(0, 2) + '/';
                        val = val.substr(2);
                    }
                    if(val.length > 5) {
                        newVal += val.substr(0, 2) + '/';
                        newVal += val.substr(2, 2) + '/';
                        val = val.substr(4);
                    }
                    newVal += val;
                    this.value = newVal;
                });
            </script>
        </div>
    </div>
    <div class="row">
        <div class="cell label">
            Middle Name
        </div>
        <div class="cell">
            <input type="text" name="" id="">
        </div>
        <div class="cell label">
            Sex
        </div>
        <div class="cell">
            <input type="radio" name="sex" value="male">&nbsp;Male
            <input type="radio" name="sex" value="female">&nbsp;Female
        </div>
    </div>
    <div class="row">
        <div class="cell label">
            Last Name
        </div>
        <div class="cell">
            <input type="text" name="" id="" name="DOB">
        </div>
        <div class="cell label">
            SSN
        </div>
        <div class="cell">
            <input type="text" id="ssn" name="ssn" placeholder="XXX-XX-XXXX" maxlength=11>
            <script type="text/javascript">
                $('#ssn').keyup(function() {
                    var val = this.value.replace(/\D/g, '');
                    var newVal = '';
                    if(val.length > 4) {
                        this.value = val;
                    }
                    if((val.length > 3) && (val.length < 6)) {
                        newVal += val.substr(0, 3) + '-';
                        val = val.substr(3);
                    }
                    if(val.length > 5) {
                        newVal += val.substr(0, 3) + '-';
                        newVal += val.substr(3, 2) + '-';
                        val = val.substr(5);
                    }
                    newVal += val;
                    this.value = newVal;
                });
            </script>
        </div>
    </div>
    <div class="row">
        <div class="cell label">
            Prefered Name
        </div>
        <div class="cell">
            <input type="text" name="" id="">
        </div>
        <div class="cell label">
            CCU
        </div>
        <div class="cell">
            <select name="ccu" tabindex="" class="w175">
                <option value="0" selected>------------ N/A ------------</option>
                <option value="1">HCI Healthcare Cons (Ext)</option>
                <option value="5">Plows Council on Agi</option>
                <option value="2">Senior Services Cent (Ext)</option>
                <option value="4">So Sub Senior Svce C</option>
                <option value="3">Southwest Suburban C (Ext)</option>
                <option value="11">Stickney Township Of</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="cell label">
            Address
        </div>
        <div class="cell">
            <input type="text" name="" id="" name="DOB">
        </div>
        <div class="cell label">
            Start Date
        </div>
        <div class="cell">
            <input type="text" id="startdate" name="ssn" placeholder="MM/DD/YYYY" maxlength=10>
            <script type="text/javascript">
                $('#startdate').keyup(function() {
                    var val = this.value.replace(/\D/g, '');
                    var newVal = '';
                    if(val.length > 4) {
                        this.value = val;
                    }
                    if((val.length > 2) && (val.length < 6)) {
                        newVal += val.substr(0, 2) + '/';
                        val = val.substr(2);
                    }
                    if(val.length > 5) {
                        newVal += val.substr(0, 2) + '/';
                        newVal += val.substr(2, 2) + '/';
                        val = val.substr(4);
                    }
                    newVal += val;
                    this.value = newVal;
                });
            </script>
        </div>
    </div>
    <div class="row">
        <div class="cell label">
            Address 2
        </div>
        <div class="cell">
            <input type="text" name="" id="" name="">
        </div>
        <div class="cell label">
            Case Worker
        </div>
        <div class="cell">
            <input type="text" id="" name="" placeholder="" maxlength=30>
        </div>
    </div>
    <div class="row">
        <div class="cell label">
            City
        </div>
        <div class="cell">
            <input type="text" name="" id="">
        </div>
        <div class="cell label">
            Photo on file
        </div>
        <div class="cell">
            <input type="radio" name="photofiled" value="yes">&nbsp;Yes
            <input type="radio" name="photofiled" value="no">&nbsp;No
        </div>
    </div>
    <div class="row">
        <div class="cell label">
            State
        </div>
        <div class="cell">
            <select name="state" class="w175" tabindex="">
                <option value="0">Alabama</option>
                <option value="1">Alaska</option>
                <option value="2">Arizona</option>
                <option value="3">Arkansas</option>
                <option value="4">California</option>
                <option value="5">Colorado</option>
                <option value="6">Connecticut</option>
                <option value="7">Delaware</option>
                <option value="8">District of Columbia</option>
                <option value="9">Florida</option>
                <option value="10">Georgia</option>
                <option value="11">Hawaii</option>
                <option value="12">Idaho</option>
                <option value="13" selected="">Illinois</option>
                <option value="14">Indiana</option>
                <option value="15">Iowa</option>
                <option value="16">Kansas</option>
                <option value="17">Kentucky</option>
                <option value="18">Louisiana</option>
                <option value="19">Maine</option>
                <option value="20">Maryland</option>
                <option value="21">Massachusetts</option>
                <option value="22">Michigan</option>
                <option value="23">Minnesota</option>
                <option value="24">Mississippi</option>
                <option value="25">Missouri</option>
                <option value="26">Montana</option>
                <option value="27">Nebraska</option>
                <option value="28">Nevada</option>
                <option value="29">New Hampshire</option>
                <option value="30">New Jersey</option>
                <option value="31">New Mexico</option>
                <option value="32">New York</option>
                <option value="33">North Carolina</option>
                <option value="34">North Dakota</option>
                <option value="35">Ohio</option>
                <option value="36">Oklahoma</option>
                <option value="37">Oregon</option>
                <option value="38">Pennsylvania</option>
                <option value="39">Rhode Island</option>
                <option value="40">South Carolina</option>
                <option value="41">South Dakota</option>
                <option value="42">Tennessee</option>
                <option value="43">Texas</option>
                <option value="44">Utah</option>
                <option value="45">Vermont</option>
                <option value="46">Virginia</option>
                <option value="47">Washington</option>
                <option value="48">West Virginia</option>
                <option value="49">Wisconsin</option>
                <option value="50">Wyoming</option>
                <option value="51">Foreign</option>
            </select>
        </div>
        <div class="cell label">
            Payment Method
        </div>
        <div class="cell">
            <select name="payment" class="w175" tabindex="">
                <option value="0" selected="">Any</option>
                <option value="1">Private Pay</option>
                <option value="2">CCP Billing</option>
                <option value="3">MCO Billing</option>
                <option value="4">VA</option>
                <option value="5">DORS</option>
                <option value="6">Other</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="cell label">
            Zip Code (5 or 9)
        </div>
        <div class="cell">
            <input type="text" id="zip" name="zipcode" placeholder="00000-0000" maxlength=10>
            <script type="text/javascript">
                $('#zip').keyup(function() {
                    var val = this.value.replace(/\D/g, '');
                    var newVal = '';
                    while(val.length > 5) {
                        newVal += val.substr(0, 5) + '-';
                        val = val.substr(5);
                    }
                    newVal += val;
                    this.value = newVal;
                });
            </script>
        </div>
        <div class="cell label">
            Current Status
        </div>
        <div class="cell">
            <select name="ccu" tabindex="" class="w175">
                <option value="1">Active</option>
                <option value="2" selected>Inactive</option>
                <option value="3">Medical Leave</option>
                <option value="4">Vacation Leave</option>
                <option value="5">Temporary Leave</option>
                <option value="6">Deceased</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="cell label">
            Phone Number
        </div>
        <div class="cell">
            <input type="text" id="phone1" name="phone1" placeholder="(000) 000-0000" maxlength=14>
            <script type="text/javascript">
                $('#phone1').keyup(function() {
                    var val = this.value.replace(/\D/g, '');
                    var newVal = '';
                    if(val.length > 4) {
                        this.value = val;
                    }
                    if((val.length > 0) && (val.length < 4)) {
                        newVal += val.substr(0, 0) + '(';
                        val = val.substr(0);
                    }
                    if((val.length > 3) && (val.length < 7)) {
                        newVal += val.substr(0, 0) + '(';
                        newVal += val.substr(0, 3) + ') ';
                        val = val.substr(3);
                    }
                    if(val.length > 6) {
                        newVal += val.substr(0, 0) + '(';
                        newVal += val.substr(0, 3) + ') ';
                        newVal += val.substr(3, 3) + '-';
                        val = val.substr(6);
                    }
                    newVal += val;
                    this.value = newVal;
                });
            </script>
        </div>
        <div class="cell label">
            Living Arrangement
        </div>
        <div class="cell">
            <select name="ccu" tabindex="" class="w175">
                <option disabled selected value="0">Unknown (Select One)</option>
                <option value="2">Lives Alone</option>
                <option value="3">Lives With Spouse</option>
                <option value="4">Lives With Family</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="cell label">
            Alt Phone Number
        </div>
        <div class="cell">
            <input type="text" id="phone2" name="phone2" placeholder="(000) 000-0000" maxlength=14>
            <script type="text/javascript">
                $('#phone2').keyup(function() {
                    var val = this.value.replace(/\D/g, '');
                    var newVal = '';
                    if(val.length > 4) {
                        this.value = val;
                    }
                    if((val.length > 0) && (val.length < 4)) {
                        newVal += val.substr(0, 0) + '(';
                        val = val.substr(0);
                    }
                    if((val.length > 3) && (val.length < 7)) {
                        newVal += val.substr(0, 0) + '(';
                        newVal += val.substr(0, 3) + ') ';
                        val = val.substr(3);
                    }
                    if(val.length > 6) {
                        newVal += val.substr(0, 0) + '(';
                        newVal += val.substr(0, 3) + ') ';
                        newVal += val.substr(3, 3) + '-';
                        val = val.substr(6);
                    }
                    newVal += val;
                    this.value = newVal;
                });
            </script>
        </div>
        <div class="cell label">
            Notes
        </div>
        <div class="cell">
            <input type="text" id="" name="" placeholder="Max 128 Characters" maxlength=128>
        </div>
    </div>
</div>

<!-- ===== MCO Data ===== -->

<div class="table ng-scope">

    <div class="row header grey">
        <div class="cell solid">
            MCO Data
        </div>
        <div class="cell solid">

        </div>
        <div class="cell solid">

        </div>
        <div class="cell solid right">
            <button>
                Save
            </button>
        </div>
    </div>

    <div class="row">
        <div class="cell">
            MCO Name
        </div>
        <div class="cell">
            <select name="mco" tabindex="" class="w175">
                <option value="000">------------ N/A ------------</option>
                <option value="aet">Aetna</option>
                <option value="blu">Blue Cross</option>
                <option value="hum">Humana</option>
                <option value="ill">IlliniCare</option>
            </select>
        </div>
        <div class="cell">
            MCO Member ID
        </div>
        <div class="cell">
            <input type="text" name="" id="">
        </div>
    </div>
    <div class="row">
        <div class="cell">
            Procedure Codes
        </div>
        <div class="cell">
            <input type="text" name="" id="">
        </div>
        <div class="cell">
            Medicare No.
        </div>
        <div class="cell">
            <input type="text" name="" id="">
        </div>
    </div>
    <div class="row">
        <div class="cell">
            Medicaid No.
        </div>
        <div class="cell">
            <input type="text" name="" id="">
        </div>
        <div class="cell">
            Authorization No.
        </div>
        <div class="cell">
            <input type="text" name="" id="">
        </div>
    </div>
    <div class="row">
        <div class="cell">
            Case Manager
        </div>
        <div class="cell">
            <input type="text" name="" id="">
        </div>
        <div class="cell">
            Case Manager Phone
        </div>
        <div class="cell">
            <input type="text" id="mcocm_phone" name="phone2" placeholder="(000) 000-0000" maxlength=14>
            <script type="text/javascript">
                $('#mcocm_phone').keyup(function() {
                    var val = this.value.replace(/\D/g, '');
                    var newVal = '';
                    if(val.length > 4) {
                        this.value = val;
                    }
                    if((val.length > 0) && (val.length < 4)) {
                        newVal += val.substr(0, 0) + '(';
                        val = val.substr(0);
                    }
                    if((val.length > 3) && (val.length < 7)) {
                        newVal += val.substr(0, 0) + '(';
                        newVal += val.substr(0, 3) + ') ';
                        val = val.substr(3);
                    }
                    if(val.length > 6) {
                        newVal += val.substr(0, 0) + '(';
                        newVal += val.substr(0, 3) + ') ';
                        newVal += val.substr(3, 3) + '-';
                        val = val.substr(6);
                    }
                    newVal += val;
                    this.value = newVal;
                });
            </script>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            Diagnosis
        </div>
        <div class="cell">
            <textarea name="" id="" class="w175"></textarea>
        </div>
        <div class="cell">
            MCO Comments
        </div>
        <div class="cell">
            <textarea name="" id="" class="w175"></textarea>
        </div>
    </div>


</div>

<!-- ===== Family Data ===== -->
<div class="table ng-scope">

    <div class="row header purple">
        <div class="cell solid">
            Family
        </div>
        <div class="cell solid">

        </div>
        <div class="cell solid">

        </div>
        <div class="cell solid right">
            <button>
                Save
            </button>
        </div>
    </div>
    <div class="row">
        <div class="cell label">
            First Name
        </div>
        <div class="cell">
            <input type="text" name="" id="">
        </div>
        <div class="cell label">
            Company
        </div>
        <div class="cell">
            <input type="text" name="" id="">
        </div>
    </div>
    <div class="row">
        <div class="cell label">
            Last Name
        </div>
        <div class="cell">
            <input type="text" name="" id="">
        </div>
        <div class="cell label">
            Department
        </div>
        <div class="cell">
            <input type="text" name="" id="">
        </div>
    </div>
    <div class="row">
        <div class="cell label">
            Address 1
        </div>
        <div class="cell">
            <input type="text" name="" id="">
        </div>
        <div class="cell label">
            Work Phone
        </div>
        <div class="cell">
            <input type="text" name="" id="">
        </div>
    </div>




    </div>
