        <div class="sysheader ng-scope">
            <span>Get Help</span>
            <hr>
            <div id="contentarea" style="font-size: 14px; font-weight: 500;">

            <h3 style="font-weight: 500;">Call Us</h3>
            If you need immediate assistance or would like to schedule an in-house, or remote training session, give us a call at (708) 389-0234
            <hr>
            <h3 style="font-weight: 500;">Self Training</h3>
            You can also watch comprehensive tutorials on our website at http://bsicom.com/wiki/homehealthware/
            <hr>
            <h3 style="font-weight: 500;">Most Frequent Questions (FAQ)</h3>
            Or check out the list below of the most frequently asked questions to see if your answer can be found there.

            <br><br><br>
            FAQs are coming soon...
            </div>
        </div>
