<div class="sysheader ng-scope">
    <span>My Account</span>
    <hr>
    <div id="contentarea" style="font-size: 14px; font-weight: 500;">
        Ralph Ditchie :: Business Suppliers, Inc (BSICOM)
    </div>
</div>

<div class="table ng-scope muted">
    <div class="row header grey">
        <div class="cell solid">
            Account Information
        </div>
        <div class="cell solid">

        </div>
        <div class="cell solid">

        </div>
        <div class="cell solid">

        </div>
        <div class="cell solid right">
            <button>
                Save</button>
            <button>Cancel
            </button>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            Userame
        </div>
        <div class="cell">
            <input type="text" name="" id="" disabled value="rditchie">
        </div>
        <div class="cell">
            Change Password
        </div>
        <div class="cell">
            <input type="password" name="" id="" placeholder="Type New Password">
        </div>
        <div class="cell">
            <input type="password" name="" id="" placeholder="Retype New Password">
        </div>
    </div>
    <div class="row">
        <div class="cell">
            Mobile ID
        </div>
        <div class="cell">
            <input type="text" name="" id="" disabled value="029-854">
        </div>
        <div class="cell">
            Change Mobile Pin
        </div>
        <div class="cell">
            <input type="password" name="" id="" placeholder="Type New Pin">
        </div>
        <div class="cell">
            <input type="password" name="" id="" placeholder="Retype New Pin">
        </div>
    </div>
</div>

<div class="table ng-scope muted">
    <div class="row header grey">
        <div class="cell solid">
            Personal Information
        </div>
        <div class="cell solid">

        </div>
        <div class="cell solid">

        </div>
        <div class="cell solid right">
            <button>
                Save</button>
            <button>Cancel
            </button>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            First Name
        </div>
        <div class="cell">
            <input type="text" name="" id="" disabled value="Ralph">
        </div>
        <div class="cell">
            Last Name
        </div>
        <div class="cell">
            <input type="text" name="" id="" disabled value="Ditchie">
        </div>
    </div>
    <div class="row">
        <div class="cell">
            Address 1
        </div>
        <div class="cell">
            <input type="text" name="" id="" disabled value="123 Fake St.">
        </div>
        <div class="cell">
            Address 2
        </div>
        <div class="cell">
            <input type="text" name="" id="" disabled placeholder="">
        </div>
    </div>
        <div class="row">
        <div class="cell">
           City
        </div>
        <div class="cell">
            <input type="text" name="" id="" disabled value="Homer Glen">
        </div>
        <div class="cell">
            State
        </div>
        <div class="cell">
            <input type="text" name="" id="" placeholder="" disabled value="Illinois">
        </div>
    </div>
</div>

